@import "../../../scss/index";

.footer {
  margin-top: auto;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
  
  @include mediumDevices {
    display: none;
  }
}

.grid {
  margin: 0 !important;
  background-color: #ffffff;  
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.row {
  padding: 0 !important;
}

.column {
  text-align: center;
  padding: 1.5rem;
  
  &:hover {
    background-color: #fafafa;
  }
}

.link {
  color: #000000;
}

.icon {
  margin: 0;
  font-size: 1.25rem;
}
