.close {
  cursor: pointer;
  font-size: 2rem;
}

.follows {
  display: flex !important;
  align-items: center;
  padding: 0.5rem 0 !important;
  
  &:first-of-type {
    padding-top: 0 !important;
  }
  
  &:last-of-type {
    padding-bottom: 0 !important;
  }
  
  &--header,
  &--main {
    padding: 1rem !important;
  }
  
  &--header {
    position: relative;
  }
}

.heading {
  margin-bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.button {
  margin-left: auto !important;
  font-size: 0.95rem !important;
  padding: 0.5rem 0.75rem !important;
  background-color: #3897f0 !important;
  border-color: #3897f0 !important;
  color: #fff !important;
  
  &--is-following {
    background-color: transparent !important;
    color: #333333 !important;
    border: 1px solid #333333 !important;
  }
}

.description {
  font-size: 0.85rem;
  padding: 0 !important;
}