@import '../../scss/index';

.row {
  display: flex;
  flex-flow: row wrap;
  padding: 0 10rem;
  padding-top: 0 !important;
  margin-top: 0.5rem;
}

.post-column {
  flex-basis: calc(33.33% - 0.25rem);
  height: 8.5rem;
  margin: 0.125rem;
  margin-bottom: 0.25rem !important;
  background-image: url('https://cdn.images.express.co.uk/img/dynamic/4/590x/secondary/Steph-Curry-was-at-one-point-the-favourite-to-win-Finals-MVP-1374457.jpg');
  background-position: center;
  background-size: cover;
  
  position: relative;
  padding: 0;
  
  &:hover .stats {
    visibility: visible;
  }
  
  @include smallDevices {
    height: 10rem;
    flex-basis: calc(33.33% - 0.5rem);
    margin: 0.25rem;
    margin-bottom: 0.25rem !important;
  }
  
  @include mediumDevices {
    height: 17.5rem;
    flex-basis: calc(33.33% - 1rem);
    margin: 0.5rem;
    margin-bottom: 0.5rem !important;
  }
  
  @include largeDevices {
    height: 25rem;
    flex-basis: calc(33.33% - 2rem);
    margin: 1rem;
    margin-bottom: 0.75rem !important;
  }
}

.stats {
  position: absolute;
  display: none;
  justify-content: space-around;
  width: 15rem;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  transition: visibility 500ms linear;
  
  @include largeDevices {
    display: flex;
  }
}
