.field {
  display: flex;
  align-items: center;
}

.label {
  display: flex !important;
  justify-content: flex-end;
  flex-basis: 25%;
  text-transform: capitalize !important;
  text-align: right;
  margin-right: 1.5rem !important;
}

.input {
  flex-basis: 75%;
}
