@import '../scss/index';

.grid {
  margin-top: 0;
}

.row {
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0;
}

.column {
  padding: 1.5rem 0 0;
  text-align: center;
  border-top: 1px solid #cecece;
}

.link {
  padding-top: 1.5rem;
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
}

.icon {
  font-size: 1rem;
}

.desc {
  width: 100%;
  padding: 0 !important;
  
  @include mediumDevices {
    display: none;
  }
}
