.row {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0.5rem;
}

.main-icon {
  font-size: 1.5rem !important;
  cursor: pointer;
}

.like-icon {
  margin-left: -0.125rem !important;  
  margin-right: 1rem !important;
}

.comment-icon {
  margin-left: 1rem;
  margin-top: -0.1rem;
}

.bookmark {
  margin-left: auto;
  margin-right: 0 !important;
}
