.slides {
  position: relative;
  background-image: url(https://imgur.com/2Lvybvf.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem;
  width: 30rem
}
