@import '../../../scss/index';

.grid {
  margin: 0;
}

.column {
  padding: 0;
}

.card {
  width: 40rem;
  margin: auto;
  border-radius: 0;
}

.likes {
  cursor: pointer;
  margin-bottom: 0;
  padding: 0 0 0.5rem 1rem;
  
  @include mediumDevices {
    display: none;
  }
}

.caption {
  margin: 0;
  padding: 0 1rem;
}

.date {
  padding: 0 1rem 0.75rem !important;
  margin: 0;
  color: #808080;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.divider {
  display: none;
  margin: 0 0 0.5rem !important;
  
  &--top {
    margin-top: 0 !important;
  }
  
  @include mediumDevices {
    display: block;
  }
}

.icons {
  &--small {
    display: block;
    
    @include mediumDevices {
      display: none;
    }
  }
  
  &--large {
    display: none;
    
    @include mediumDevices {
      display: block;
    }
  }
}

.likes {
  &--small {
    display: block;
    
    @include mediumDevices {
      display: none
    }
  }
  
  &--large {
    display: none;
    
    @include mediumDevices {
      display: block
    }
  }
}
