@import '../../scss/index';

.grid {
  justify-content: center !important;
  margin: 1rem;
  
  @include mediumDevices {
    margin: 2rem 3.5rem 0 !important;
  }
}

.row {
  display: flex;
  flex-direction: column;
  min-height: 35rem;
  
  @include mediumDevices {
    flex-direction: row;
  }
}
 
.column {
  padding: 0;
  background-position: center;
  background-size: cover;
  height: 25rem;
  
  @include mediumDevices {
    height: 35rem;
  }
  
  &--image {
    @include mediumDevices {
      flex-basis: 60%;
    }
  }
  
  &--desc {
    display: flex;
    flex-direction: column;
    
    @include mediumDevices {
      flex-basis: 40%;
    }
  }
}

.header {
  &-small {
    display: flex;
    
    @include mediumDevices {
      display: none;
    }
  }
  
  &-large {
    display: none;
    
    @include mediumDevices {
      display: flex;
    }
  }
}

.card {
  width: 100% !important;
  margin: auto;
  border-radius: 0 !important;
}
