.form {
  margin: auto;
  max-width: 30rem;
}

.field {
  display: flex;
  align-items: center !important;
}

.image {
  margin-bottom: 0;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.label {
  display: flex;
  justify-content: flex-end;
  flex-basis: 25%;
  text-transform: capitalize;
  text-align: right;
  margin-right: 1.5rem;
}

.input {
  flex-basis: 75%;
}
