@import "../../../scss/index";

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.grid {
  margin: 0 !important;
  height: 5rem;
  border-bottom: 1px solid #d0d0d0;
  background-color: #ffffff;
  top: 0;
  width: 100%;

  @include mediumDevices {
		height: 6rem;
	}
  
  @include largeDevices {
    padding: 0 12.5rem !important,
  }
}

.row {
  align-items: center !important;
  padding: 0.25rem 0;
}

.column {
	display: flex;
  align-items: center;
  flex-basis: 50%;
  text-align: right;
  
  @include mediumDevices {
			flex-basis: 33.33333333%;
		}

	&--search {
		display: none !important;

		@include mediumDevices {
			display: block !important;
		}
	}
}

.logo {
	display: flex;
  align-items: center;
  color: #000000;
  
  &:hover {
    color: inherit;
  }
}

.icon {
    font-size: 2rem !important;
  
  @include largeDevices {
  	font-size: 2.5rem !important;
  }
}

.divider {
	height: 1.5rem;
	border-right: 1px solid #000000;
	margin: 0 0.5rem;

	@include mediumDevices {
	  height: 2.35rem;
	  margin: 0 1rem;
	}
}

.image {
  height: 2.5rem;
  width: 7rem !important;
  margin-left: 0 !important;

  @include mediumDevices {
    height: 3rem;
    width: 9rem !important;
  }
}

.link {
  color: #3897f0;
  font-weight: 600;
  
  @include mediumDevices {
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    margin-right: 1rem;
    background-color: #3897f0;
    border-color: #3897f0;
    color: #ffffff;
    
    &:hover {
      color: #ffffff;
    }
  }
  
  &-separator {
    margin: 0 0.75rem;
    border-right: 1px solid #d4d4d5;
    
    @include mediumDevices {
      display: none;
    }
  }
  
  ~ a {
    font-weight: 600;
    color: #3897f0;
  }
  
  @include mediumDevices {
    padding: 0.5rem 1.5rem;
  }
}
